{% extends "index.html" %} {%load static%} {%block mainContent%}

<div id="main">
  <div class="inner">
    <h1>{{entry.title}}</h1>
    <span class="image main"
      ><img
        src="{% static 'assets/' %}{{ entry.imgUrl }}"
        alt="{{ entry.imgUrl }}"
    /></span>
    <h2>{{entry.subtitle}}</h2>
    <p>{{entry.introduction}}</p>
    <h3>5 Lugares infaltables</h3>
    <ul style="padding: 0 2rem">
      {% for item in entry.content_list %}
      <li>{{item}}</li>
      {% endfor %}
    </ul>

    <p>{{entry.resume}}</p>
  </div>
  {% for entry in entries %}
  <p>{{entry.title}}</p>
  {% endfor %}
  <ul class="entryFooter">
    <li>{{entry.author}}</li>
    <li>{{entry.date}}</li>
  </ul>
</div>

<div id="main">
  <div class="inner">
    {% comment %} {% if user.role == 'visitor' %} {% endcomment %}
    <form action="/newentry/" method="POST" enctype="multipart/form-data">
      <label>Dejame un comentario</label>
      <textarea
        type="text"
        name="comment"
        id="comment"
        value=""
        placeholder=""
        rows="1"
        cols="20"
        required
        {%
        if
        user.role
        !="visitor"
        %}disabled{%
        endif
        %}
      ></textarea>
      <helper
        >{% if user.role == 'visitor' %}{% else %}Debes iniciar sesion para
        comentar{% endif %}</helper
      >
      <div
        style="
          width: 100%;
          margin: 1rem 0;
          display: flex;
          justify-content: flex-end;
        "
      >
        <input
          type="submit"
          value="Enviar"
          class="primary"
          {%
          if
          user.role
          !="visitor"
          %}disabled{%
          endif
          %}
        />
      </div>
    </form>
    {% for comment in entry.comment_list %}
    <div>
      <div>
        <img alt="avatar" src="" />
        <p>{{comment.fullname}}</p>
      </div>
      <p>{{comment.comment}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{%endblock%}
