<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Travel Blog {% endblock title%}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>
<body style="background-color: Canvas; color: CanvasText;
color-scheme: light dark ">
<nav>
    <ul>
        <li>About</li>
        <li>New article</li>
        <li>Home</li>
    </ul>
</nav>
<main>
{% block dinamicContent %}{% endblock dinamicContent%}
</main>
</body>
</html>